@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* -------Reset------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Barlow Condensed', sans-serif; }

.container-fluid {
  background-color: #b8b0b0; }

.navbar navbar-expand-lg navbar-light bg-light {
  background-color: #b8b0b0; }

.navbar-brand img {
  width: 70px;
  height: 80px; }

.nav-item a {
  font-weight: 500;
  font-size: 20px; }

.carousel-inner div img {
  width: 100%;
  height: 75vh; }

.carousel-inner div div h5 {
  font-weight: 400;
  font-size: 40px;
  color: black;
  background-color: #b8b0b0; }

.carousel-inner div div p {
  font-weight: 300;
  font-size: 20px;
  color: black;
  background-color: #b8b0b0; }

/*-------Header-------*/
header {
  position: sticky;
  top: 0;
  z-index: 2; }

/*-------Index-------*/
.frase {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-image: url(../img/fondo-2.jpg);
  padding: 5px; }
  .frase div h2 {
    font-weight: 500;
    font-size: 50px;
    color: black;
    margin-bottom: 30px; }
  .frase div p {
    font-weight: 400;
    font-size: 25px;
    color: white; }

.despedida {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: #220d7e;
  padding: 5px; }
  .despedida div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .despedida div h2 {
      font-weight: 500;
      font-size: 50px;
      color: black; }
    .despedida div p {
      font-weight: 400;
      font-size: 25px;
      color: black; }
    .despedida div a {
      text-decoration: none;
      color: black; }
      .despedida div a p {
        font-weight: 600;
        font-size: 25px;
        border: 2px black solid;
        background-color: red; }
      .despedida div a img {
        width: 50px;
        height: 50px; }
  .despedida img {
    width: 350px;
    height: 300px; }

/*-------Compra y Venta-------*/
.compra-casa {
  background-color: #F2B892; }
  .compra-casa h2 {
    font-weight: 600;
    font-size: 50px; }
  .compra-casa h3 {
    font-weight: 500;
    font-size: 35px; }
  .compra-casa section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 5px blue solid; }
    .compra-casa section img {
      width: 700px;
      height: 500px;
      padding: 10px 0 10px 0; }
    .compra-casa section div {
      width: 500px; }
      .compra-casa section div h3 {
        font-weight: 500;
        font-size: 25px; }
      .compra-casa section div p {
        font-weight: 400;
        font-size: 20px; }

.alquila {
  background-color: #DD8A62; }
  .alquila h2 {
    font-weight: 600;
    font-size: 50px; }
  .alquila h3 {
    font-weight: 500;
    font-size: 35px; }
  .alquila section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    border: 5px blue solid; }
    .alquila section div {
      width: 500px; }
      .alquila section div h3 {
        font-weight: 500;
        font-size: 25px; }
      .alquila section div p {
        font-weight: 400;
        font-size: 20px; }
    .alquila section img {
      width: 700px;
      height: 550px;
      padding: 10px 0 10px 0; }

.departamento {
  background-color: #E1CDC6; }
  .departamento h2 {
    font-weight: 600;
    font-size: 50px; }
  .departamento h3 {
    font-weight: 500;
    font-size: 35px; }
  .departamento div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap; }
    .departamento div .tarjeta {
      border: 3px blue solid;
      width: 700px;
      padding: 10px 0 10px 0; }
      .departamento div .tarjeta img {
        width: 400px;
        height: 400px; }
      .departamento div .tarjeta div {
        width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap; }
        .departamento div .tarjeta div h4 {
          font-weight: 400;
          font-size: 25px; }
        .departamento div .tarjeta div p {
          font-weight: 400;
          font-size: 20px; }
        .departamento div .tarjeta div h5 {
          border: 2px red solid;
          font-weight: 400;
          font-size: 25px; }

/*-------Galeria-------*/
.casas {
  background-color: black; }
  .casas h2 {
    font-weight: 500;
    font-size: 50px;
    text-align: center;
    color: white; }
  .casas div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px;
    gap: 20px; }
    .casas div img {
      width: 100%;
      height: 100%; }
    .casas div .vivienda6 {
      grid-column: 1/ 3; }
    .casas div .vivienda7 {
      grid-column: 3 / 5; }
    .casas div .vivienda10 {
      grid-column: 2 / 4; }
    .casas div .vivienda13 {
      grid-column: 1 / 3; }

.presenta-interior {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background-color: burlywood; }
  .presenta-interior div {
    width: 700px; }
    .presenta-interior div h2 {
      font-weight: 500;
      font-size: 40px;
      color: black; }
    .presenta-interior div p {
      font-weight: 400;
      font-size: 25px;
      color: black; }
  .presenta-interior img {
    width: 450px;
    height: 500px; }

.interiores {
  background-color: burlywood; }
  .interiores h2 {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    color: black; }
  .interiores div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 400px;
    gap: 20px; }
    .interiores div img {
      width: 100%;
      height: 100%; }
    .interiores div .int1 {
      grid-column: 1 / 3; }
    .interiores div .int7 {
      grid-column: 3 / 5;
      width: 100%;
      height: 700px; }

/*-------Contacto-------*/
.preguntas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #220d7e; }
  .preguntas h2 {
    font-weight: 500;
    font-size: 50px;
    color: white; }
  .preguntas div {
    width: 50%; }
    .preguntas div div {
      width: 100%; }

.informacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #220d7e; }
  .informacion h2 {
    font-weight: 500;
    font-size: 50px;
    color: white; }
  .informacion form {
    width: 50%; }
    .informacion form div label {
      font-weight: 300;
      font-size: 20px;
      color: white; }

/*-------Footer-------*/
footer {
  background-color: #b8b0b0; }
  footer section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    footer section a img {
      width: 70px;
      height: 80px; }
    footer section .redes p {
      font-weight: 500;
      font-size: 20px; }
    footer section .redes a img {
      width: 35px;
      height: 35px;
      margin: 5px; }
    footer section .contenido p {
      font-weight: 500;
      font-size: 20px; }
    footer section .contenido a img {
      width: 35px;
      height: 35px;
      margin: 5px; }

/*-------Mediaquery-------*/
@media screen and (max-width: 1600px) and (min-width: 1001px) {
  .casas div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    gap: 20px; }
    .casas div .vivienda6 {
      grid-column: 2 / 4; }
    .casas div .vivienda7 {
      grid-column: 4 / 5; }
    .casas div .vivienda8 {
      grid-column: 1 / 3; }
    .casas div .vivienda9 {
      grid-column: 3 / 5; }
    .casas div .vivienda10 {
      grid-column: 1 / 3; }
    .casas div .vivienda13 {
      grid-column: 1 / 3; }
    .casas div .vivienda14 {
      grid-column: 3 / 5; }
    .casas div .vivienda15 {
      grid-column: 1 / 3; }
    .casas div .vivienda16 {
      grid-column: 3 / 5; }
  .interiores div {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 400px;
    gap: 20px; }
    .interiores div .int1 {
      grid-column: 1 / 3; }
    .interiores div .int4 {
      grid-column: 1 / 3; }
    .interiores div .int5 {
      grid-column: 3 / 5; }
    .interiores div .int7 {
      grid-column: 2 / 3;
      height: 100%; }
    .interiores div .int8 {
      grid-column: 3 / 5;
      height: 600px; } }

@media screen and (max-width: 1000px) {
  .casas div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    gap: 20px; }
    .casas div .vivienda6 {
      grid-column: 3/ 4; }
    .casas div .vivienda7 {
      grid-column: 1 /  2; }
    .casas div .vivienda8 {
      grid-column: 2 / 4; }
    .casas div .vivienda10 {
      grid-column: 2 / 4; }
    .casas div .vivienda13 {
      grid-column: 3 / 4; }
  .interiores div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 400px;
    gap: 20px; }
    .interiores div .int1 {
      grid-column: 1 / 3; }
    .interiores div .int4 {
      grid-column: 2 / 4; }
    .interiores div .int5 {
      grid-column: 1 / 2; }
    .interiores div .int7 {
      grid-column: 3 / 4;
      height: 100%; }
    .interiores div .int8 {
      grid-column: 1 / 4;
      height: 700px; }
  .preguntas div {
    width: 100%; } }

@media screen and (max-width: 700px) {
  .compra-casa section img {
    width: 350px;
    height: 400px; }
  .alquila section img {
    width: 350px;
    height: 400px; }
  .casas div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    gap: 20px; }
    .casas div .vivienda1 {
      grid-column: 1 / 3; }
    .casas div .vivienda6 {
      grid-column: 1 / 3; }
    .casas div .vivienda7 {
      grid-column: 1 / 3; }
    .casas div .vivienda8 {
      grid-column: 1 / 3; }
    .casas div .vivienda9 {
      grid-column: 1 / 3; }
    .casas div .vivienda10 {
      grid-column: 1 / 3; }
    .casas div .vivienda13 {
      grid-column: 1 / 3; }
    .casas div .vivienda16 {
      grid-column: 1 / 3; }
  .interiores div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px;
    gap: 20px; }
    .interiores div .int1 {
      grid-column: 1 / 3; }
    .interiores div .int4 {
      grid-column: 1 / 2; }
    .interiores div .int5 {
      grid-column: 2 / 3; }
    .interiores div .int7 {
      grid-column: 2 / 3;
      height: 100%; }
    .interiores div .int8 {
      grid-column: 1 / 3; } }

@media screen and (max-width: 500px) {
  .departamento h2 {
    font-weight: 600;
    font-size: 40px; }
  .departamento h3 {
    font-weight: 500;
    font-size: 30px; }
  .departamento div .tarjeta {
    width: 100%; }
    .departamento div .tarjeta img {
      width: 350px;
      height: 350px; }
  .casas div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px;
    gap: 10px; }
    .casas div .vivienda1 {
      grid-column: 1 / 2; }
    .casas div .vivienda6 {
      grid-column: 1/ 2; }
    .casas div .vivienda7 {
      grid-column: 1 /  2; }
    .casas div .vivienda8 {
      grid-column: 1 / 2; }
    .casas div .vivienda9 {
      grid-column: 1 / 2; }
    .casas div .vivienda10 {
      grid-column: 1 / 2; }
    .casas div .vivienda13 {
      grid-column: 1 / 2; }
    .casas div .vivienda16 {
      grid-column: 1 / 2; }
  .interiores div {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 300px;
    gap: 10px; }
    .interiores div .int1 {
      grid-column: 1 / 2; }
    .interiores div .int4 {
      grid-column: 1 / 2; }
    .interiores div .int5 {
      grid-column: 1 / 2; }
    .interiores div .int7 {
      grid-column: 1 / 2;
      height: 100%; }
    .interiores div .int8 {
      grid-column: 1 / 2; }
  footer section .redes a img {
    width: 25px;
    height: 25px;
    margin: 5px; }
  footer section .contenido a img {
    width: 25px;
    height: 25px;
    margin: 5px; } }
