/*-------Compra y Venta-------*/

.compra-casa{
    background-color: nth($paleta-colores, 7);
    h2{
        @include letra (600, 50px);
        color: nth($paleta-colores, 2);
    }
    h3{
        @include letra (500, 35px);
        color: nth($paleta-colores, 2);
    }
    section{
        @include flex(flex, row, space-evenly, center, wrap);
        border: 5px blue solid;
        img{
            @include medidas (700px, 500px);
            padding: 10px 0 10px 0;
        }
        div{
            width: 500px;
            h3{
                @include letra (500, 25px);
                color: nth($paleta-colores, 2);
            }
            p{
                @include letra (400, 20px);
                color: nth($paleta-colores, 2);
            }
        }
    }
}

.alquila{
    background-color: nth($paleta-colores, 8);
    h2{
        @include letra (600, 50px);
        color: nth($paleta-colores, 2);
    }
    h3{
        @include letra (500, 35px);
        color: nth($paleta-colores, 2);
    }
    section{
        @include flex(flex, row, space-evenly, center, wrap);
        border: 5px blue solid;
        div{
            width: 500px;
            h3{
                @include letra (500, 25px);
                color: nth($paleta-colores, 2);
            }
            p{
                @include letra (400, 20px);
                color: nth($paleta-colores, 2);
            }
        }
        img{
            @include medidas (700px, 550px);
            padding: 10px 0 10px 0;
        }
    }
}

.departamento{
    background-color: nth($paleta-colores, 9);
    h2{
        @include letra (600, 50px);
        color: nth($paleta-colores, 2);
    }
    h3{
        @include letra (500, 35px);
        color: nth($paleta-colores, 2);
    }
    div{
        @include flex(flex, row, space-evenly, center, wrap);
        .tarjeta{
            border: 3px blue solid;
            width: 700px;
            padding: 10px 0 10px 0;
            img{
                @include medidas (400px, 400px)
            }
            div{
                width: 250px;
                @include flex(flex, column, space-between, center, wrap);
                h4{
                    @include letra (400, 25px);
                    color: nth($paleta-colores, 2);
                }
                p{
                    @include letra (400, 20px);
                    color: nth($paleta-colores, 2);
                }
                h5{
                    border: 2px red solid;
                    @include letra (400, 25px);
                    color: nth($paleta-colores, 2);
                }
            }
            
        }
    }
}