/*-------Compra y Venta-------*/

.compra-casa{
    background-color: nth($paleta-colores, 7);
    h2{
        text-align: center;
        @include letra (600, 50px);
        color: nth($paleta-colores, 2);
    }
    h3{
        text-align: center;
        @include letra (500, 35px);
        color: nth($paleta-colores, 2);
    }
    section{
        @include flex(flex, row, space-evenly, center, wrap);
        img{
            @include medidas (700px, 500px);
            padding: 10px 0 10px 0;
        }
        div{
            width: 500px;
            h3{
                @include letra (500, 25px);
                color: nth($paleta-colores, 2);
            }
            p{
                text-align: center;
                @include letra (400, 20px);
                color: nth($paleta-colores, 2);
            }
        }
    }
}

.alquila{
    background-color: nth($paleta-colores, 8);
    h2{
        text-align: center;
        @include letra (600, 50px);
        color: nth($paleta-colores, 2);
    }
    h3{
        text-align: center;
        @include letra (500, 35px);
        color: nth($paleta-colores, 2);
    }
    section{
        @include flex(flex, row, space-evenly, center, wrap);
        div{
            width: 500px;
            h3{
                @include letra (500, 25px);
                color: nth($paleta-colores, 2);
            }
            p{
                text-align: center;
                @include letra (400, 20px);
                color: nth($paleta-colores, 2);
            }
        }
        img{
            @include medidas (700px, 550px);
            padding: 10px 0 10px 0;
        }
    }
}

.departamento{
    background-color: nth($paleta-colores, 9);
    h2{
        text-align: center;
        @include letra (600, 50px);
        color: nth($paleta-colores, 2);
    }
    h3{
        text-align: center;
        @include letra (500, 35px);
        color: nth($paleta-colores, 2);
    }
    div{
        @include flex(flex, row, space-evenly, center, wrap);
        .tarjeta{
            border: 2px nth($paleta-colores, 10) solid;
            margin: 5px;
            width: 700px;
            padding: 10px 0 10px 0;
            img{
                @include medidas (400px, 400px)
            }
            div{
                width: 250px;
                @include flex(flex, column, space-between, center, wrap);
                h4{
                    @include letra (400, 25px);
                    color: nth($paleta-colores, 2);
                }
                p{
                    text-align: center;
                    @include letra (400, 20px);
                    color: nth($paleta-colores, 2);
                }
                a{
                    text-decoration: none;
                    h5{
                        background-color:nth($paleta-colores, 6) ;
                        border: 2px nth($paleta-colores, 1) solid;
                        border-radius: 15px;
                        @include letra (400, 25px);
                        color: nth($paleta-colores, 1);
                        padding: 5px;
                        margin: 5px;
                        transition: 1.3s;
                        &:hover{
                            transform: scale(1.1);
                        }
                }
                }
            }
            
        }
    }
}