/*-------Contacto-------*/

.preguntas{
    @include flex(flex, column, center, center, wrap);
    background-color: nth($paleta-colores, 8);
    h1{
        @include letra (500, 50px);
        color: nth($paleta-colores, 2);
    }
    div{
        width: 50%;
        div{
            width: 100%;
        }
    }
}

.informacion{
    @include flex(flex, column, center, center, wrap);
    background-color: nth($paleta-colores, 9);
    h2{
        @include letra (500, 50px);
        color: white;
    }
    form{
        width: 50%;
        div{
            label{
                @include letra (300, 20px);
                color: white;
            }
        }
    }
}