/*-------Footer-------*/

footer{
    background-color: rgb(184, 176, 176);
    section{
        @include flex (flex, row, space-between, center, wrap);
        a{
            img{
                @include medidas(70px, 80px);
            }
        }
        .redes{
                p{
                    @include letra (500, 20px)
                }
                a{
                    img{
                        @include medidas(35px, 35px);
                        margin: 5px;
                    }
                }
        }
        .contenido{
                    p{
                        @include letra (500, 20px)
                    }
                    a{
                        img{
                            @include medidas(35px, 35px);
                            margin: 5px;
                        }
                    }
        }
    }
}