/*-------Footer-------*/

footer{
    background-image: linear-gradient(to right, nth($paleta-colores, 8), nth($paleta-colores, 5));
    section{
        @include flex (flex, row, space-between, center, wrap);
        a{
            img{
                @include medidas(70px, 80px);
            }
        }
        .redes{
                p{
                    @include letra (500, 20px);
                    color: nth($paleta-colores, 6);
                    padding: 5px 0 0 10px;
                }
                a{
                    img{
                        transition: 1s;
                        @include medidas(35px, 35px);
                        margin: 0 10px 5px 10px;
                        &:hover{
                            transform: scale(1.2);
                        }
                    }
                }
        }
        .contenido{
                    p{
                        @include letra (500, 20px);
                        color: nth($paleta-colores, 6);
                        padding: 5px 0 0 10px;
                    }
                    a{
                        img{
                            transition: 1s;
                            @include medidas(35px, 35px);
                            margin: 0 10px 5px 10px;
                            &:hover{
                                transform: scale(1.2);
                            }
                        }
                    }
        }
    }
}