/*-------Galeria-------*/

.casas{
    background-color: nth($paleta-colores, 1);
    h2{
        @include letra (500, 50px);
        text-align: center;
        color: nth($paleta-colores, 2);
    }
    div{
        @include grid (grid, repeat(5, 1fr), 400px, 20px);
        img{
            @include medidas(100%, 100%)
        }
        .vivienda6{
            grid-column: 1/ 3;
        }
        .vivienda7{
            grid-column: 3 / 5;
        }
        .vivienda10{
            grid-column: 2 / 4;
        }
        .vivienda13{
            grid-column: 1 / 3;
        }
    }
}

.presenta-interior{
    @include flex (flex, row, space-evenly, center, wrap);
    background-color: nth($paleta-colores, 6);
    div{
        width: 700px;
        h2{
            @include letra (500, 40px);
            color: nth($paleta-colores, 1);
        }
        p{
            @include letra (400, 25px);
            color: nth($paleta-colores, 1);
        }
    }
    img{
        @include medidas(450px, 500px);
    }
}

.interiores{
            background-color: nth($paleta-colores, 6);
            h2{
                text-align: center;
                @include letra (500, 50px);
                color: nth($paleta-colores, 1);
            }
            div{
                @include grid (grid, repeat(5, 1fr), 400px, 20px);
                img{
                    @include medidas(100%, 100%);
                }
                .int1{
                    grid-column: 1 / 3;
                }
                .int7{
                    grid-column: 3 / 5;
                    @include medidas(100%, 700px);
                }
            }
}