/*-------Index-------*/

.frase{
    @include flex (flex, row, space-evenly, center, wrap);
    background-image: url(../img/fondo-2.jpg);
    padding: 5px;
    div{
        h2{
            @include letra (500, 50px);
            color: nth($paleta-colores, 1);
            margin-bottom: 30px;
        }
        p{
            @include letra (400, 25px);
            color: nth($paleta-colores, 2); 
        }
    }
}

.despedida{
    @include flex (flex, row, space-evenly, center, wrap);
    background-color: nth($paleta-colores, 3);
    padding: 5px;
    div{
        @include flex (flex, column, space-evenly, center, wrap);
        h2{
            @include letra (500, 50px);
            color: nth($paleta-colores, 6);
        }
        p{
            @include letra (400, 25px);
            color: nth($paleta-colores, 2);
        }
        a{
            text-decoration: none;
            color: nth($paleta-colores, 2);
            p{
                @include letra (600, 25px);
                border: 2px nth($paleta-colores, 1) solid;
                background-color: nth($paleta-colores, 4);
            }
            img{
                @include medidas(50px, 50px)
            }
        }
    }
    img{
        @include medidas(350px, 300px);
    }

}