

$paleta-colores:black,white,rgb(34, 13, 126),red,rgb(184, 176, 176),burlywood, #F2B892, #DD8A62,#E1CDC6;

@mixin grid ($grid, $template-columns, $template-rows, $gap){
    display: $grid;
    grid-template-columns: $template-columns;
    grid-template-rows: $template-rows;
    gap: $gap;
}

@mixin flex ($flex, $direction, $justify, $align, $responsive){
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
    flex-wrap: $responsive;
}

@mixin medidas ($ancho, $alto){
    width: $ancho;
    height: $alto;
}

@mixin letra($fweight, $fsize,){
    font-weight: $fweight;
    font-size: $fsize;
}